.form-group {
  margin: 10px 0;
}

* {
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
}



#navigation {
  padding: 10px;
  margin-bottom: 10px;
  background: linear-gradient(135deg, rgba(0,161,224,1), #79589F);
}

#navigation a {
  font-size: 20px;
  font-weight: 300;
  margin-right: 10px;
  text-decoration: none;
  color: white;
}

.active-route {
  font-weight: 600 !important;
}

#container {
  padding: 8px;
}


label {
    display: block;
    margin: 0px;
    color: grey;
    font-size: small;
}

input {
  color: #555;
  height: 30px;
  line-height: 15px;
  width: 400px;
  margin-top: 2px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid lightgrey;
  transition: border 0.1s linear;
  font-size: large;
}

input:focus {
  border-bottom: 1px solid #ff66ff;
}

button {
  position: relative;

  /* display: block; */
  /* margin: 30px 0; */
  padding: 8px 12px;

  overflow: hidden;
  font-size: large;
  /* font-weight: 300; */

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

  /* background-color: #2ecc71; */
  background: linear-gradient(135deg, rgba(0,161,224,1), #79589F);
  color: #ecf0f1;

  transition: background-color .3s;
}

button:hover, button:focus {
  cursor: pointer;
  background-color: #27ae60;
}

button > * {
  position: relative;
}

button span {
  display: block;
  padding: 5px 10px;
}

button:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, .3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

button:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width .2s ease-out, padding-top .2s ease-out;
}

/* Styles, not important */
*, *:before, *:after {
  box-sizing: border-box;
}

button.orange {
  background-color: #e67e22;
}

button.orange:hover, button.orange:focus {
  background-color: #d35400;
}

button.red {
  background-color: #e74c3c;
}

button.red:hover, button.red:focus {
  background-color: #c0392b;
}

.source{
  padding: 10px;
}

.source a{
  text-decoration: none;
}

.twitter{
  color: #1DA1F2;
}

.medium{
  color: #00E56B;
}

.reddit{
  color: #FF4500;
}

.rss{
  color: #666666;
}
