<p>
  sources works!
</p>
<div>

  <form (ngSubmit)="addSource()">
    <pre>{{model | json}}</pre>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="source.name" required>
      </div>

      <div class="form-group">
        <label for="abbr">Abbreviation</label>
        <input type="text" class="form-control" name="abbr" [(ngModel)]="source.abbr">
      </div>

      <div class="form-group">
        <label for="type">Type</label>
        <input type="text" class="form-control" name="type" [(ngModel)]="source.type" required>
      </div>

      <div class="form-group">
        <label for="twitter">Twitter Handle</label>
        <input type="text" class="form-control" name="twitter" [(ngModel)]="source.twitter">
      </div>

      <div class="form-group">
        <label for="medium">Medium Handle</label>
        <input type="text" class="form-control" name="medium" [(ngModel)]="source.medium">
      </div>

      <div class="form-group">
        <label for="reddit">Reddit Handle</label>
        <input type="text" class="form-control" name="reddit" [(ngModel)]="source.reddit">
      </div>

      <div class="form-group">
        <label for="rss">RSS URL</label>
        <input type="text" class="form-control" name="rss" [(ngModel)]="source.rss">
      </div>

      <button type="submit" class="btn btn-success">Submit</button>

    </form>
</div>

<div *ngFor="let item of sources; let i = index" class="source">

  <div style="margin-bottom:5px;"><pre style="display:inline; font-size:12px;">#{{i+1}}</pre> <strong>{{item.name}}</strong> ({{item.type}})</div>
  <div>
    <a [hidden]="!item.twitter" target="_blank" href="http://twitter.com/{{item.twitter}}"><fa [name]="'twitter'" [size]="1" class="twitter"></fa></a>
    <a [hidden]="!item.reddit" target="_blank" href="https://www.reddit.com/r/{{item.reddit}}"><fa [name]="'reddit'" [size]="1" class="reddit"></fa></a>
    <a [hidden]="!item.medium" target="_blank" href="http://medium.com/{{item.medium}}"><fa [name]="'medium'" [size]="1" class="medium"></fa></a>
    <a [hidden]="!item.rss" target="_blank" href="{{item.rss}}"><fa [name]="'rss'" [size]="1" class="rss"></fa></a>
  </div>
</div>
